/*リセットcss*/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.clearfix::after {
	content:"";
	display: block;
	clear: both;
}
/*共有部分*/
.no-decoration {
	text-decoration: none;
}
.white {
	color: #FAFAFA;
}
.black {
	color: #000000;
}
.font62 {
	font-size: 62px;
}
.contents-title {
	font-size: 32px;
	margin-bottom: 8px;
}
.contents-explanation {
	font-size: 16px;
	color: #000000;
	margin: 30px  auto;
}

.font20 {
    font-size: 20px;
}
.font16 {
	font-size: 16px;
}
.m10 {
	margin: 10px;
}

.red-line {
	height: 3px;
	width: 70px;
	background-color: #EC715F;
	color: #EC715F;
	margin: 0 auto;
}
.contents-box {
	margin: 0 auto;
	padding: 90px 0;
	text-align: center;
}
.w920 {
	width: 920px;
}
.w980 {
	width: 980px;
}
.w1024 {
	width: 1024px;
}
.w800 {
	width: 800px;
}
.center {
	text-align: center;
}
.left {
	text-align: left;
}

.icon60 {
	font-size: 60px;
}
/*header*/
header {
	background-color: #EC715F;
	height: 70px;
}
header .box {
	width: 1024px;
	margin: 0 auto;
	position: relative;
}
.logo-image {
	height: 70px;
	width: 140px;
	background-image: url(img/logo.png);
	background-size: cover;
}
header nav {
	height: 70px;
	position: absolute;
    right: 0px;
    top: 0px;
}
header nav li {
    display: inline-block;
    margin: 0 30px;
    font-size: 16px;
    line-height: 70px;
}


#main-visual {
	height: 650px;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
	text-align: center;
	padding-top: 200px;
}
/*Portfolio*/
#portfolio {
	background-color: #ECEFF1;
}
/*portfolio-image*/
.img1 {
	background-image: url(img/sketch.jpg);
}
.img2 {
	background-image: url(img/websuku.png);
	margin: 0 10px;
}
.img3 {
	background-image: url(img/write.jpg);
}
.img4 {
	background-image: url(img/webcamp.png);
}
.img5 {
	background-image: url(img/talk.jpg);
	margin: 0 10px;
}
.img6 {
	background-image: url(img/webcamp-mother.png);
}
.image {
	width: 300px;
	height: 250px;
	background-size: cover;
	background-position: center;
	float: left;
}
.image-box1 {
	margin-bottom: 10px;
}

/*Feature*/
#feature {
}
.feature-box {
	width: 320px;
	float: left;
}
.feature-box:nth-child(2n) {
	margin: 0 10px;
}
.feature-title {
	text-align: center;
	font-size: 20px;
	margin: 10px 0;
}
/*Profile*/
#profile {
	background-color: #ECEFF1;
}
.profile-box {
	width: 512px;
	float: left;
	text-align: left;
}
.profile-image {
	width:250px;
	height: 250px;
	border-radius: 50%;
	background-image: url(img/my-icon.jpg);
	background-position: center;
	background-size: cover;
	margin: 0 auto;
}
.profile-title1 {
	font-size: 20px;
	margin-bottom: 5px;
}
.profile-title2 {
	font-size: 20px;
	margin: 20px 0 5px 0;
}


.profile-text {
	font-size: 16px;
}
/*Contact*/
#contact {
}
.center {
	margin: 0 auto;
}
.contact-box {
	width:400px;
	float: left;
}
.contact-box2 {
	display: inline-block;
	text-align: left;
}
.contact1 {
	margin-bottom: 5px;
}
.contact2 {
	margin: 20px 0 5px 0;
}
.sns-icon{
	font-size: 50px;
}
.sns-icon:nth-child(2n) {
	margin:0 20px;
}

footer {
	background-color: #EC715F;
	height: 60px;
    text-align: center;
}
.footer-text {
	line-height: 60px;
	font-size: 16px;
	color: #FAFAFA;
}

/*-----------------Devise-Width <= 767px---------------------*/
@media screen and (max-width:767px) {
	/*header部分*/
	header {
		height: 50px;
	}
	header .box {
		width: 90%;
	}
	.logo-image {
	height: 50px;
	width: 100px;
    }
    header nav {
    	display: none;
    }
    #main-visual {
    	width:  100%;
    	background-image: url(img/code.png);
    }
    /*コンテンツ部分*/
    .w920, .w980, .w1024, .w800 {
    	width: 90%;
    }
    .font62 {
    	font-size: 40px;
    }
    .image .feature-box, .profile-box, .contact-box{
    	float: none;
    }
    .image-box1 {
    	width: 300px
    	margin: 0;
    	display: inline-block;
    }
    .image-box2 {
        width: 300px;
    	display: inline-block;
    }
    .img1, .img3 ,.img5 {
    	display: none;
    }
    .img2, .img6 {
        margin: 0;
    }
    .img4 {
    	margin: 10px 0;
    }
    /* FEATURE*/
    .feature-box {
	    width: 100%;;
    }
    .feature-box:nth-child(2n) {
	    margin: 10px 0;
    }
    .profile-box {
    	width: 100%;
    	text-align: center;
    }
    .profile-title1 {
    	margin: 20px 0 5px 0;
    }
    .contact-box {
    	width: 100%;
    }
    .contact-box2 {
    	text-align: center;
    }
    .sns-icon:nth-child(2n) {
    	margin:0 8px;
    }
    .mb20 {
    	margin-bottom: 20px;
    }
    /*==hunburger==*/
    .hamburger {
    	border :1px solid white;
    	width:40px;
    	height: 40px;
    	position: absolute;
    	top: 5px;
    	right: 5px;
    	padding-top: 5px;
    }
    .putty {
    	background-color: white;
    	width: 30px;
    	height: 2px;
    	margin: 4px auto;
    }
}